@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alkatra:wght@300;400;500;700&display=swap");

.glow {
  color: black !important;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #fcaf25, 0 0 4px #fcaf25,
      0 0 5px #fcaf25, 0 0 6px #fcaf25, 0 0 7px #fcaf25;
  }
  to {
    text-shadow: 0 0 2px #fff, 0 0 3px #eab464, 0 0 4px #eab464, 0 0 5px #eab464,
      0 0 6px #eab464, 0 0 7px #eab464, 0 0 8px #eab464;
  }
}

.boxShadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: solid rgba(0, 0, 0, 0.12) 1px;
}
